.accordion-component {
  background-color: #e1e1e1;
  border-radius: 5px;
  border: solid;
  border-color: #929292;
  padding:5px;

  &--header {
    display: flex;
    flex-flow: row wrap;
    font-style: oblique;
    font-weight: bold;
    font-size: 17px;
  }
  &--plus{
    margin-left:auto;
    margin-bottom: 0;
  }
  &--trash{
    align-self: center;
  }
}

.Icon{
  padding-top: 10px;
}
