.accordion-component {
  &--header {
    display: flex;
    flex-flow: row wrap;
    font-style: oblique;
    font-size: 17px;
  }
  &--plus{
    margin-left:auto;
  }
}

.Icon{
  padding-top: 5px;
}
