.myText {
  // font-style: oblique;
  font-size: 17px;
}

.myGrp3 {
  margin: 0 2px;
  outline: none;
  border: none;
}

.myGrpBut {
  margin: 0 5px;
}

.myGrpBut:hover,
.myGrpBut:focus,
.myGrpBut:active .myGrpBut:active:focus,
.open > .dropdown-toggle.myGrpBut {
  color: inherit;
  background-color: inherit; /*set the color you want here*/
}

.myWrapperAccordion {
  margin: 0 5px;
}
