.step{
  &--content {
    font-style: oblique;
    font-size: 17px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &--subcontent{
      padding : 3px;
    }
    &--text{
      margin-right: auto;
      margin-bottom: 0;
      cursor: alias;
    }
    &--caret--right {
      align-self: center;
      margin-bottom: 0;
    }
    &--trash{
      align-self: center;
    }
  }
}

.ui.modal>.content{
    display: block;
    width: 95%;
    padding: 0rem;
    background-color: inherit;
}

.ui.modal > .header:not(.ui){
    width: 112%;
    padding: 0.5rem;
    background: #283747;
    color: white;
}
