// .step {
//   padding: 0;
//   &--content {
// font-style: oblique;
// font-size: 15px;
//     position: relative;
//     display: flex;
//     justify-content: flex-end;

//     &--subcontent {
//       padding: 5px;
//       padding-top: 0;
//       padding-right: 0;
//       padding-bottom: 0;
//       margin-left: 2%;
//     }
//     &--text {
//       margin-right: auto;
//       margin-bottom: 0;
//       cursor: alias;
//     }
//     &--caret--right {
//       align-self: center;
//       margin-bottom: 0;
//     }
//   }
// }

.ui.modal > .content {
  display: block;
  width: 95%;
  padding: 0rem;
  background-color: inherit;
}

.ui.modal > .header:not(.ui) {
  width: 112%;
  padding: 0.5rem;
  background: #283747;
  color: white;
}

.myGrpStep {
  outline: 0;
  border: 0;
  margin: 0 5px;
}

.myGrpStep:hover,
.myGrpStep:focus,
.myGrpStep:active,
.myGrpStep:active:focus,
.open > .dropdown-toggle.myGrpStep {
  color: inherit;
  background-color: inherit; /*set the color you want here*/
}

.myWrapper {
  // font-style: oblique;
  font-size: 15px;
  margin-left: 50px;
  width: calc(100% - 50px);
  box-sizing: border-box;
}

.myStepText {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
