.testcase-content {
  overflow: hidden;
  transition: 0.4s;
}

.grpTCA {
  margin: 0 2px;
  outline: none;
  border: none;
}

.grpTCA p {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-decoration: none;
  outline: none;
  // font-style: oblique;
}

.butTCA {
  margin: 0 5px;
}

.butTCA:hover,
.butTCA:focus,
.butTCA:active,
.butTCA:active:focus,
.open > .dropdown-toggle.butTCA {
  color: inherit;
  background-color: inherit; /*set the color you want here*/
}

.TCAWrapper {
  margin: 0 5px;
}
