.sub-item {
  padding-left: 1rem;
  cursor: pointer;

  &--content {
    font-size: 1rem;
    margin : 0;
    font-weight: bold;
    color: #cce3ff;
  }
}

.sub-item:hover {
  background-color: #283747;
}
