.scenario-content{
  font-style: oblique;
  font-size: 17px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 5px 5px;

  &--header{
    margin-right: auto;
    margin-bottom: 0;
    outline:0;
  }
  &--button {

    border-radius: 8px;
    bottom: 1px;
    height: 22px;
    width: 8%;
    font-size: 12px;
    color: #cce3fc;
    border: solid 1px #283747;
    background-color: #283747;
    outline:0;
    &:active,&:hover{
      border: solid 1px #006399;
      background-color: #006399;
      cursor: pointer;
    }
  }

  &--edit {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
