.left-pane{
  position : fixed;
  width : 11%;
  height : 100%;
  background-color:#566573;
  border-color: black;
  border-bottom-width: thin;
  box-shadow: 7px 7px 5px #aaaaaa;

  &--logo{
    height : 75px;
    width : 100%;
  }
}

