.middle-pane{
  width: 88%;
  height: 100vh;
  margin-top: 4.2rem;
  position: fixed;
  padding:1rem;
  background: #c5c5c5;
// .middle-pane {
//   width: 100%;
//   height: auto;
//   // margin-top: 4.2rem;
//   // position: fixed;
//   padding: 1rem;
  overflow-y: scroll;
}

.dropdown-header {
  color: rgb(163, 163, 163);
}
