.middle-pane{
  border-radius: 10px;
  background: #c5c5c5;
  padding: 20px;
  margin-top : 3%;
  margin-left :7%;
  width: 75%;
  height: 48rem;

  &--content {
    font-style: oblique;
    font-size: 17px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &--subcontent{
      padding : 5px;
      padding-top:0;
      padding-right : 0;
      padding-bottom: 0;
      margin-left:2%;
    }
    &--subcontent2{
      padding : 5px;
      padding-right : 0;
      padding-bottom: 0;
      margin-left:4%;
    }
    &--text{
      margin-right: auto;
      margin-bottom: 0;
    }
    &--plus{
      margin-left:auto;
    }
    &--button {
      border-radius: 8px;
      bottom: 1px;
      height: 22px;
      width: 8%;
      font-size: 12px;
      color: white;
      border: solid 1px #5da0ff;
      background-color: #5da0ff;
    }
    &--caret--right {
      align-self: center;
      margin-bottom: 0;
    }
    &--edit {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}
